name: Build
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.commits[0].message, '[ci-skip]')"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17
      - name: Import gradle properties
        shell: bash
        run: cat gradle.properties >> $GITHUB_ENV
      - name: Build
        run: ./gradlew build modrinth --stacktrace
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          COMMIT_MESSAGE: ${{ join(github.event.commits.*.message, '<br>') }}
        continue-on-error: true
      - name: Notify Discord
        uses: BillyGalbreath/actions-status-discord@main
        if: success()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          noprefix: true
          title: New build of Pl3xMap-Claims is ready!
          description: |
            Version ${{ env.minecraftVersion }} build ${{ github.run_number }}
            Click [here](https://modrinth.com/mod/pl3xmap-claims/version/${{ env.minecraftVersion }}-${{ github.run_number }}) to download!
